<body>
    <div class="logo">
    </div>
    <div class="slogan">
        <h2>WELCOME!</h2>
        <br>
        <h3>
        Worried about missing your deadline?<br>
        Worry No More!<br>
        We provide users with various features to them help keep track of their deadlines. <br> Click 
        <%= link_to "here", about_path, class:"nodeco"%>
        to check out detailed information.
        </h3>
    </div>
</body>