<header>
  <nav class="navbar">
    <h1>Weekly Reports</h1>
  </nav>
</header>
<br>
<div class = container>
<div class="p-3 mb-2 bg-primary text-white">
<h1> Last Week's Time Record:  <br><br>
  <% @timerecord[@timerecord.keys.last].each do |array| %>
      Time spent on <%= array.timetype %>: <%= array.period %> minutes. <br>
  <% end %>
</h1>
</div>
</div>
