<p style="color: green"><%= notice %></p>

<header>
  <nav class="navbar">
    <h1>Goals</h1>
  </nav>
</header>

<div id="motivations">
<a class="btn btn-secondary" href="motivations/new" role="button">Add goal</a>
  <br><br>
  <% @motivations.each do |motivation| %>
  <div class="p-3 mb-2 bg-info text-white"><h5>
    <%= render motivation %>
    <p>
      <%= link_to "Edit this goal", edit_motivation_path(motivation) %>
      <%= button_to "Goal Completed!", motivation, method: :delete %>
    </p>
  </div></h5><br>
  <% end %>
</div>
