<header>
  <nav class="navbar">
    <h1>Create Your New Goal!</h1>
  </nav>
</header>

<%= render "form", motivation: @motivation %>

<br>

<div>
  <%= link_to "Back to Goals", motivations_path %>
</div>
