body  {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eeeeee;
}

::selection {
    background: rgb(184, 208, 243);
    color: #fff;
}

button:hover {
    transition: all .5s ease;
    transform: scale(1.05);
}

.complete_todo_list {
    background: rgb(184, 208, 243);
    color: #fff;
    display: inline;
}

.not_complete_todo_list {
    background: rgb(184, 208, 243);
    color: #fff;
    display: inline; 
}
.com {
    background-color: rgb(184, 208, 243);
    margin: 0 5px;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
    width: 90px;
    outline: none;
    box-shadow: none;
    white-space: nowrap;
    display: inline;
}
.del {
    background-color: rgb(94, 110, 134);
    margin: 0 5px;
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
    width: 90px;
    outline: none;
    box-shadow: none;
    white-space: nowrap;
    display: inline;
}

.button_to {
  display: inline;
  white-space: nowrap;
}
.button_to div {
    display: inline;
    white-space: nowrap;
  }